body{
    background-image: linear-gradient(to right, #b7f89a, #78f0b6, #31e4d3, #00d5e8, #2fc2f0, #50b0ed, #709de1, #8989ce, #9772b7, #a05a9a, #a34378, #9e2d54);
    font-family: cursive;
}

.game{
    width:480px;
    height:300px;
    border:5px ridge purple;
    border-radius: 29px;
}
.header{
    display:flex;
    justify-content: space-between;
    background-color: rgb(121, 32, 78);
    color: rgb(255,255,255);
    padding: 20px;
    margin: 0px;
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item{
    margin: 50px;

}
.menu a{
    color:burlywood;

}